.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}
.center td {
    text-align: center;
}

.top-table-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.right-align-button {
    margin-left: 10px; /* Add left margin for spacing between buttons */
}

a.grey-button {
    color: black;
    border-color: #D3D3D3;
    background-color: #D3D3D3;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
}

.default-font {
    font-family: Bahnschrift, sans-serif;
    font-weight: bold;
    color: white;
}

h1, h2, h3, h4, h5, p, ul, li, u {
    color: white;
}

body {
    background-color: #181a1b;
}