.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}
.center td {
    text-align: center;
}

.top-table-button {
    display: table;
    width: 100%;
    margin: auto;
}

.right-align-button {
    float: right;
    border-color: black;
}

.button-spacing-right {
    margin-right: 15px;
}

a.grey-button {
    color: black;
    border-color: #D3D3D3;
    background-color: #D3D3D3;
}

a.green-button {
    color: white;
    border-color: #1b995e;
    background-color: #1b995e;
}

a.red-button {
    color: white;
    border-color: #c90c38;
    background-color: #c90c38;
}

a.wiki-link {
    text-decoration: none;
    color: #55a9f7;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-left: 2px;
}

.default-font {
    font-family: Bahnschrift, sans-serif;
    font-weight: bold;
    color: white;
}

html * {
    color: white;
    font-family: Bahnschrift, sans-serif;
}

body {
    background-color: #181a1b;
}

h1 {
    text-align: center;
}

.code-syntax {
    background-color: #333333;
    font-weight: bold;
}